.homeContainer {
    display: flex;
}

.homeContainer > div:nth-child(odd) {
    flex: 0.2;
}

.homeContainer > div:nth-child(even) {
    flex: 0.6;
}

.homeContainer__leftBar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
    border-right: 1px solid silver;
}

.sideBarOption {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 1.3rem;
    width: 80%;
    min-width: 100px;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2ms;
}

.sideBarOption:hover {
    transform: scale(1.02);
}

.sideBarOption > svg {
    height: 1.35em;
    min-width: fit-content;
}

.homeContainer__extraContainer {
    border-left: 1px solid silver;
    padding-left: 1.2rem;
}

.homeContainer__feedContainer {
    padding-inline: 1.8rem;
}